body {
    overflow: hidden;
    background: linear-gradient(to left, #E6E6FA, #D8BFD8, #9370DB);
    font-family: 'Roboto Slab', serif;
    margin: 0; 
    
}

h3 {
    font-family: 'Pretendard-Thin';
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
   
    font-size: 20px;
}

/* 상단바 */

.menu * {
    display: inline;
}

.menu li {
    margin: 35px;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 20px;
    font-style: italic;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
} 

/* page 1 */

.one {
    background-size: cover;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 130px;
}

.profile {
    border-radius: 30%;
    display: inline-block;
    padding: 0.5rem;
    margin-top: 20px;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.profile img {
    border-radius: 30%;
}

/* page 2 */

.intext {
    float: right;
    margin-top: 35px;
    padding-left: 50px;
}
#about {
    perspective: 1000px; /* 3D 효과 */
    cursor: pointer;
}

.two {
    position: relative;
    width: 550px;
    height: 650px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    margin: auto; /* 가운데 정렬 */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-front img {
    border-radius: 30%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    background-color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding: 20px;
}
.two.flipped {
    transform: rotateY(180deg);
}
/* page 3 */

.three {
    text-align: center;
    align-items: center;
    font-family: 'Pretendard-Thin';
}

.th_list_img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 5px;
}


/* page 4 */


h1 {
    text-align: center;
}

.lists{
    text-align: center;
    font-family: 'Pretendard-Thin';
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
}

.list_img {
    width: 250px; /* 크기를 줄여 작은 화면에서 보기 좋게 */
    height: 250px;
    display: block;
    margin: 5vh 2vh;
    margin-bottom: 40px;
}

.favorites {
    display: flex;
    flex-wrap: wrap;  /* 반응형을 위해 줄 바꿈 허용 */
    justify-content: center; /* 가운데 정렬 */
    gap: 30px; /* 간격 추가 */
    margin-top: 40px;
}


/* page 5 */

.five {
    text-align: center;
    align-items: center;
    font-family: 'Pretendard-Thin';
}


